.navbar {
    background-color: rgba(56, 56, 56, 0.116);
}
.home{
    background-color: rgb(165, 165, 165);

}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
    
}
h3{
 color: rgb(10, 10, 10);
}
body {
  
}
.portifolio {
    background-color: antiquewhite;


}
.bg-footer {
    padding-top: 30px;
    background-color: black;
    color: blue;


}